/*  ---------------
fonts 

font-family: 'Lobster', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Raleway', sans-serif;

colours

dark - #212121
orange - #FB7800
light - #ffffff
dark grey - #252525;
dark2 - #202020

--------------------- */

.container{
    display:grid;
    grid-template-columns: 5% 90vw 5%;
    grid-template-rows: 2% repeat(5,auto) 5%;
    justify-content: center;
    text-align: center;
}
.banner{
    grid-row:2;
    grid-column-start:span 2;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: 5% auto auto auto 5%;
}

.logo{
    grid-column:1;
    grid-row:2;
    max-width:90vw;
    margin-left: auto;
    margin-right: auto;
}

.tagline{
    grid-column:1;
    grid-row:3;
    width:70vw;
    margin-left:auto;
    margin-right:auto;
}

.arrow{
    grid-column:1;
    grid-row:4;
    display: flex;
    justify-content: space-around;
}

.about {
    grid-row:3;
    grid-column:2;
}

.price {
    grid-row:4;
    grid-column:2;
}

.portfolio {
    grid-row:5;
    grid-column:2;
}

.contact {
    grid-row:6;
    grid-column:2;
}

.paragraph {
    text-align: left;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}


.portfolioPanel {
    display:grid;
    grid-template-columns:  100%;
    grid-template-rows: repeat(3, auto);
    width:32%;
}
.portfolioImage {
    grid-row: 2;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 20vw;
}
.title{
    grid-row: 1;
}

.portfolioDescription{
    grid-row: 3;
}

.portfolioContainer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.textBox {
    max-width: 1200px;
    margin-right:auto;
    margin-left:auto;
}

a:hover{
    text-decoration:underline;
    font-size: 1.02em;
    color: #FB7800;
}

a {
    text-decoration: none;
    color:black;
    padding:0.3em;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2.756rem;
}


footer{
    grid-row:6;
    grid-column-start:1;
    padding:5%;
    padding-top:1%;
    background-color:#252525;
}

.email,.mobile, .title{
    font-family: 'Cabin', sans-serif;
    font-size: 1.8em;
}

.email,.mobile{
    padding:1em;
}
footer a, footer h2{
    color:white;
}

li{
    list-style: none;
}

@media only screen and (max-width: 1200px) {
    .portfolioPanel {
      width: 49%;
    }

    .portfolioImage {
        max-height: 30vw;
    }
  }
  @media only screen and (max-width: 670px) {
    .portfolioPanel {
      width: 100%;
    }

    .portfolioImage {
        max-height: 25vw;
    }
  }